@import "tailwindcss";

:root{
    overflow-x: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

@theme{
    --color-primary: #007AFFCC;
    --color-secondary: #D9D9D900;
    --color-background: #FFFFFF;
    --color-text: #657786;
}